	 body {
	  background: url(bg.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  font-family: 'Noto Sans', sans-serif;
	}
	h1 {
		color: red;
		font-size: 50px
		font-weight: normal;
		margin-bottom: 0;
	}
	h2 {
		color: red;
		font-size: 35px
		font-weight: normal;
		margin-bottom: 0;
	}
	h3 {
		color: red;
		font-size: 16px
		margin-top: 0;
	}
	.bio {
		color: blue;
		font-size: 45px;
		font-weight: bold;
	}
	.me {
		height: 350px;
		border-radius: 100%;
		border-style: solid;
		border-color: whote;
		margin-top: 40px;

	}
	.about {
		width: 500px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.grey {
		color: #0099ff;
		height: 3px;
	}
	.maprouter {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}